<!DOCTYPE html>
<html lang="utf-8">
{% include "header.html" %}
    
                    <form>
                        <fieldset>
                            <div class="form-group ">
                                
                                <select class="form-control" id="sel1" onchange="location = this.value;">                                   <option selected disabled>Vilken kanal lyssnar du på?</option>                              
                                    {% for x in channels: %}
                                    <option value="radiochannel/{{x['@id']}}">{{x['@name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Oops!</h1>
                <p>Ett problem på vår ände!</p>
            </div>
</div>
            <!-- Footer -->
{% include "footer.html" %}

