<!DOCTYPE html>

<html lang="utf-8">
{% include "header.html" %}  
                </div>
            </div>
            <div>
                <p>CONTENT</p>
            </div>
            
            <div class="text-center">
            <button type="button" id="backbutton" class="btn btn-default btn-lg" onclick="goBack()" >
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
            </div>
<script>
function goBack() {
    window.history.back();
}
</script>   
                
            
            
            <!-- Footer -->
            
{% include "footer.html" %}