<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Projekt i webbtjänster Diggaren</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/full-width-pics.css') }}" >
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    
   
</head>

<body>
    

    <header class="image-bg-fluid-height">
        <div class="row">
            <div class="col-sm-6">
                <img alt="SR Logo" id="SRlogo" class="img-responsive img-center" src="{{ url_for('static', filename='images/SverigeSRadio_2010.png') }}"></div>
            <div class="col-sm-6">
                <img alt="Spotify Logo" class="img-responsive img-center" src="{{ url_for('static', filename='images/Spotify_Logo_RGB_Green.png') }}"></div>
        </div>
    </header>
     <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1><a href="/" id="headdiggaren">Diggaren</a></h1>
                    