<!DOCTYPE html>
<html lang="utf-8">
{% include "header.html" %}
    
                    <form>
                        <fieldset>
                            <div class="form-group ">
                                
                                <select class="form-control" id="sel1" onchange="location = this.value;">                                   <option selected disabled>Vilken kanal lyssnar du på?</option>                              
                                    {% for x in channels: %}
                                    <option value="radiochannel/{{x['@id']}}">{{x['@name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Footer -->
{% include "footer.html" %}

<div id="login">
    <h1>Login to Spotify</h1>
    <a href="https://accounts.spotify.com/authorize?client_id=69e933979e0946a8acb19513ae0bc9c1&response_type=code&redirect_uri=http://127.0.0.1:5000/callback&scope=user-read-private">Login</a>
    <div id="logged-in">
        <p>{{spotifyResponse}}</p>
    </div>
</div>