<!DOCTYPE html>
<html lang="utf-8">
{% include "header.html" %}
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Diggaren</h1>
                    <form>
                        <fieldset>
                            <div class="form-group ">
                                <label for="sel1"><h2>Välj SR station</h2></label>
                                <select class="form-control" id="sel1" onchange="location = this.value;">                                    
                                    {% for x in channels: %}
                                        <option value="radiochannel/{{x['@id']}}">{{x['@name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Footer -->
        
{% include "footer.html" %}