<!DOCTYPE html>
<html lang="utf-8">
{% include "header.html" %}
    
   
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label for="sel1"><h2></h2></label>
                                <select class="form-control" id="sel1" onchange="location = this.value;">                                                               <option selected disabled>Vilken kanal lyssnar du på?</option>
                                    {% for x in channels: %}
                                        <option value="{{x['@id']}}"> {{x['@name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
                <div class="panel panel-default panel-body">
                    {%if 'image' in channel:%}
                    <img src="{{channel['image']}}" height="100" id="img">
                    {%else:%}
                    
                    <!--för att koden ska veta att det är name i channel. -->
                    <p> {{channel['@name']}} </p>
                    {%endif%}
                    
                    <p id="playing">Spelas nu:</p>
                    {% if 'error' not in nowPlaying: %}
                    <p id="playingtitle">{{nowPlaying['title']}} - {{nowPlaying['artist']}}</p>
                    {% else: %}
                    <p id="playingerror">Ingen låt spelas just nu</p>
                    {% endif %}

                    <p id="next">Spelas efter:</p>
                    {% if 'error' not in nextSong: %}
                    <p id="nexttitle">{{nextSong['title']}} - {{nextSong['artist']}}</p>
                    {% else: %}
                    <p id="nexterror">Ingen låt spelas just nu</p>
                    {% endif %}

                    <p id="spot">Spotify:</p>
                    {% if 'error' not in spotifySong: %}
                    <p id="spotlink"> <a href="{{spotifySong[0]['uri']}}">{{spotifySong[0]['name']}}</a></p>
                    {% else: %}
                    <p id="spoterror">Låten kan inte hittas på Spotify</p>
                    {% endif %}
                </div>
                
            </div>
            
            <!-- Footer -->
            
{% include "footer.html" %}