<!DOCTYPE html>
<html lang="utf-8">
{% include "header.html" %}
    
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1><a href="/">Diggaren</a></h1>
                    
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label for="sel1"><h2>Välj SR station</h2></label>
                                <select class="form-control" id="sel1" onchange="location = this.value;">                                                               <option selected disabled>Välj kanal</option>
                                    {% for x in channels: %}
                                        <option value="{{x['@id']}}"> {{x['@name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <!--för att koden ska veta att det är name i channel. -->
                <p> {{channel['@name']}} </p>
                <p>Spelas nu:</p>
                {% if 'error' not in nowPlaying: %}
                <p>{{nowPlaying['description']}}</p>
                {% else: %}
                <p>Ingen information tillgänglig</p>
                {% endif %}
                <p>Spelas efter:</p>
                {% if 'error' not in nextSong: %}
                <p>{{nextSong['description']}}</p>
                {% else: %}
                <p>Ingen information tillgänglig</p>
                {% endif %}
            </div>
                
            </div>
            
            <!-- Footer -->
            
{% include "footer.html" %}